:root {
  --colorPrimario: #2C3E50;
  --colorsecundario: #E74C3C;
  --transition: all 0.3s ease;
  --color-text: rgb(41, 41, 41);
  --color-title: rgb(22, 22, 22);
  --bg-secondary: #151619;
  --width-container: 1400px;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}

main {
  position: relative;
}

footer {
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

input,
textarea,
select {
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 1px;
  color: black;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
  outline-offset: 0px !important;
}
option:focus{
  outline: none;
}

span {
  display: block;
}

img {
  display: block;
  width: 100%;
}

p {
  line-height: 20px;
  color: var(--color-text);
}

a {
  display: block;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


.k-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.k-grid {
  max-width: var(--width-container);
  margin: 0 auto;
  padding: 0 20px;
  transition: padding .5s ease;
}

.k-margin {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.k-padding {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.btn {
  text-transform: uppercase;
  color: white;
  background-color: #c17534;
  padding: 15px 30px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: var(--transition);
}

.btn:hover {
  background-color: #2697d8;
}

.k-title {
  font-size: 1.7em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: var(--color-title);
}

@media screen and (min-width: 1000px) {


  body {
    font-size: 15px;
  }
}